<!doctype html>
<title>Wattocook</title>

<div class="title">
    <h1>Watto Cook</h1>
</div>

{% if message %}
  <h4>{{message}}!</h4>
{% endif %}

<ul style="list-style: none;">
    <li><a href='/'>Home</a></li>
    {% if name %}
        <li><a href='/profile'>View Profile</a></li>
        <li><a href='/logout'>Logout</a></li>
    {% else %}
        <li><a href='/login'>Login</a></li>
    {% endif %}
    <li><a href='/'>Search For Recipes</a></li>
</ul>

<body>
  <div class="title">
      <h2>Search for recipes</h2>
  </div>
  <div id="content">
      <form method="post" action="{{ url_for('home') }}">
          <label for="text">Search For:</label>
          <input type="text" name="query" /><br />

          <label for="text">Include Ingredients:</label> <!--should be a radio button-->
          <input type="text" name="includeIngredients" /><br />

          <label for="text">Exclude Ingredients:</label>
          <input type="text" name="excludeIngredients" /><br />

          <label for="text">Equipment Required:</label> <!--should be a radio button-->
          <input type="text" name="equipment " /><br />

          <label for="text">Cuisine:</label>
          <input type="text" name="cuisine" /><br />

          <label for="text">Diet:</label>
          <input type="text" name="diet" /><br />

          <label for="text">Intolerances:</label>
          <input type="text" name="intolerances" /><br />

          <!--should include ranking, should be a radio button
          #"titleMatch":"Crock Pot", -->

          <input type="submit" />
      </form>
   </div>
</body>

{% if recipes %}
<h2>Here are some recipes with your ingredients:</h2>
    <ul style="list-style: none;">
    {% for recipe in recipes %}
        <li><a href='/recipe'>{{recipe['title']}}</a><br> 
        <img src="{{ recipe['image'] }}" alt="The image for this recipe was not found!">
        <li> {{recipe['cuisines']}}</li>
        <li> {{recipe['type']}}</li>
    {% endfor %}
    
    </ul>

    <form method="post" action="/">
        <input type="submit" value="<<" name="action1"/>
        <input type="submit" value=">>" name="action2" />
    </form>
{% endif %}


